/target
.env
/examples/coding-agent-cli/target
.tmp
./examples/coding-agent-cli/
todo
__pycache__
*.so
python-wrapper/target
.venv
python-wrapper/examples/.ferrant
server
!server/
server/*
!server/README.md
!server/runtime/
server/runtime/*
!server/runtime/ferrant_server.py
!server/docker/
server/docker/*
!server/docker/Dockerfile
!server/deployment/
server/deployment/*
!server/deployment/Dockerfile
!server/deployment/app.py
!server/deployment/requirements.txt
docs
